.fire_border {
    -fx-background-color : #F20;
    -fx-border-color : firebrick;
    -fx-border-width : 2px;
}
.water_border {
    -fx-background-color : #3AF;
    -fx-border-color : darkblue;
    -fx-border-width : 2px;
}
.earth_border {
    -fx-background-color : #864E20;
    -fx-border-color : brown;
    -fx-border-width : 2px;
}
.air_border {
    -fx-background-color : #DDD;
    -fx-border-color : aqua;
    -fx-border-width : 2px;
}
.container {
    -fx-background-color : #EEE;
}
.flipped_card {
    -fx-background-color : black;
}
.null_card {
    -fx-background-color : #EEE;
    -fx-border-color : blue;
    -fx-border-width : 3px;
}