.container {
    -fx-background-color : #76EC76;
    -fx-border-width : 3px;
    -fx-border-color : black;
}

.explanationCard {
    -fx-background-color: #8BF0FF;
    -fx-border-width : 3px;
    -fx-border-color : black;
}

.button {
    -fx-background-color : #FF0;
    -fx-border-color : black;
    -fx-font-size : 24px;
}

.button:hover {
    -fx-background-color : red;
}