.fire_border {
    -fx-background-color : #F20;
}
.water_border {
    -fx-background-color : #3AF;
}
.earth_border {
    -fx-background-color : #662E00;
}
.air_border {
    -fx-background-color : #FFF;
}
.container {
    -fx-background-color : #EEE;
}
